<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Images</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let product of products;index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>     
        <td>{{product.img}}</td>     
        <td>
          <button type="button" class="btn btn-primary" ><a routerLink="/product/edit/{{product.id}}" class="text-white">Update</a></button>
            <button type="button" class="btn btn-primary" (click)="removeItem(product.id)">Delete</button>
        </td> 
        <td><button type="button" class="btn btn-danger" (click)="detail(product.id)">Detail</button></td>
      </tr>
    </tbody>
    <a href="/add" class="btn btn-primary">Add Product</a>

  </table>

  <span *ngIf="product">
      {{product.name}}
      {{product.price}}
  </span>